[Unit]
Description=Apache Kafka server
Requires=network.target
After=network.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart=/opt/kafka_{{ kafka_scala_version }}-{{ kafka_version }}/bin/kafka-server-start.sh \
  /etc/kafka/server.properties
ExecStop=/opt/kafka_{{ kafka_scala_version }}-{{ kafka_version }}/bin/kafka-server-stop.sh
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target