[Unit]
Description=Fake Apache log generator
Requires=network.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/python /srv/fake-apache-log-generator/apache-fake-log-gen.py -n 0 -o LOG -p /var/log/fake-apache-log-generator/web
WatchdogSec=60
Restart=always

[Install]
WantedBy=multi-user.target